body {
  background-color: rgb(46, 47, 48);
}

thead th:not(:first-child) {
  border-left: 1px solid rgb(99, 99, 99);
}

.model {
  width: 90vw;
  max-width: 500px;
}

td {
  border-left: 1px solid #ccc;
  font-size: clamp(11px, 2vw, 16px);
  word-break: break-all;
}

h1 {
  color: rgb(207, 210, 223);
  margin-bottom: 30px;
}

th,
td {
  color: rgb(255, 255, 255) !important;
}

.btn-primary,
.bg-dark,
.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  background-color: rgb(21, 54, 82) !important;
  border: none;

}